/********************************/
/*       common css */
/********************************/
a {
    color: #000000;
    text-decoration: none !important;
}
html,body{
  font-family: "open_sansbold","open_sanslight","opensans_regular",sans-serif;
  background: #f3f3f4;
  color:#676a6c;
}
/********************************/
/*       Login section css */
/********************************/
.login-section h1{
text-align: center;
font-family: open_sanslight;
font-size: 35px;
text-transform: uppercase;
color: #fff;
margin-top: 20px;
margin-bottom: 20px;
}
.login-section{
  background: #1abc9c;
  padding-bottom: 170px;
}

.form-login
{
  text-align: center;
  margin-top: 173px;
}
.form-login p{
  color:#ffffff;
  font-family: open_sanslight;
  font-size: 14px;
  text-transform: uppercase;
}
.forget-password{
  color: #fff;
}
.form1{
  margin-bottom: 10px;
  width: 280px;
  height:35px;
  display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form2{
  margin-bottom: 10px;
  width: 280px;
  height:35px;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn1 {
    text-align: center;
    padding-left: 34px;
    padding-right: 34px;
    /* margin-right: 50px; */
    height: 35px;
    border-radius: 6px;
    background: #fff;
    font-family: open_sansbold;
}
.btn2{
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  height: 35px;
  border-radius: 6px;
  background: #fff;
  font-family: open_sansbold;
  border: none;
  
}
.btn1:hover{
color: white;
background: #286090;;
box-shadow: none;
border: none;
}
.btn2:hover{
color: white;
background: #286090;;
box-shadow: none;
border: none;
}
.buttons
{
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-login{
  padding-top: 30px;
  background: #b41d56;
}
.navbar-default {
    background-color: #444444;
    border-color: #444444;
}
.forget-password{
  text-align: center;
}
/********************************/
/*       admin section css */
/********************************/
.side-menus
{
  background-color:#1abc9c;
  padding: 0px;
  height: 540px;
}

.side-menus h1{
  color: #1f3647;
  text-align: center;
  font-size: 26px;
  color: #fff;
}
.box-content{
  border: 0.5px #1abc9c solid;
  background:#fff; 
  padding-bottom: 20px;
  padding-top: 20px;
  padding: 0px;
  height: 540px;
  
}
.menu-bar ul li{
  list-style-type : none !important;
  margin-top:25px;
  color: #fff;
}
.menu-bar a{
 color: #fff;
 font-weight: bold;
 text-transform: uppercase;
}
.menu-bar
{
  margin-top: 100px;
}
.header
{
  background:#1f3647; 
  padding-bottom: 20px;
  padding-top: 20px; 
}
.menuarea p{
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.title a
{
  color: #fff;
}
/********************************/
/*       event add section css */
/********************************/
.form-control {
  margin-top: 20px;
}
.add-event{
  text-align: center;
}
.picture{
  margin-top: 20px;
}
.upload{
    text-align: center;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 30px;
    height: 35px;
    border-radius: 6px;
    background: #1abc9c;
    font-family: open_sansbold;
    color: #fff;
}

