/********************************/
/*       common css */
/********************************/
a {
    color: #000000;
    text-decoration: none !important;
}
html,body{
  font-family: "open_sansbold","open_sanslight","opensans_regular",sans-serif;
  background: #f3f3f4;
  color:#676a6c;
}
/********************************/
/*       Login section css */
/********************************/
.login-section h1{
text-align: center;
font-family: open_sanslight;
font-size: 35px;
text-transform: uppercase;
color: #fff;
margin-top: 20px;
margin-bottom: 20px;
}
.login-section{
  background: #1abc9c;
  padding-bottom: 170px;
}

.form-login
{
  text-align: center;
  margin-top: 173px;
}
.form-login p{
  color:#ffffff;
  font-family: open_sanslight;
  font-size: 14px;
  text-transform: uppercase;
}
.forget-password{
  color: #fff;
}
.form1{
  margin-bottom: 10px;
  width: 280px;
  height:35px;
  display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form2{
  margin-bottom: 10px;
  width: 280px;
  height:35px;
   display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn1{
  text-align: center;
  padding-left: 34px;
  padding-right: 34px;
  margin-right: 50px;
  height: 35px;
  border-radius: 6px;
  background: #fff;
  font-family: open_sansbold; 
}
.btn2{
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  height: 35px;
  border-radius: 6px;
  background: #fff;
  font-family: open_sansbold;
  border: none;
  
}
.btn1:hover{
color: white;
background: #286090;;
box-shadow: none;
border: none;
}
.btn2:hover{
color: white;
background: #286090;;
box-shadow: none;
border: none;
}
.buttons
{
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-login{
  padding-top: 30px;
  background: #b41d56;
}
.navbar-default {
    background-color: #444444;
    border-color: #444444;
}
/********************************/
/*       admin section css */
/********************************/
.side-menus
{
  background-color:#2f4050;
  padding: 0px;
}
.side-menus h1{
  color: #1f3647;
  text-align: center;
  margin: 10px,0px;
  font-size: 26px;
  color: #ffffff;
}
.box{
  border: 0.5px red dotted;
  
}
/********************************/
/*       webpage section css */
/********************************/
/*      header section css */
/********************************/
.navbar-default {
    background-color: #1abc9c;
    margin-top: 10px;
}
 .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-family: open_sansregular;
    font size: 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-brand{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: open_sanssemibold;

}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: none;
    color: #337ab7;
}
.header{
   background-color:#1abc9c;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000000;
    background-color: transparent;
}
.nav {
    padding-left: 50px;
    margin-bottom: 0;
    list-style: none;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

/********************************/
/*      INTRO section css */
/********************************/
.jumbotron {
    padding-top:100px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #c5c0c0;
    background: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.btn-primary {
    color: #fff;
    background-color:#1abc9c;
    border-color: #1abc9c;

}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}
.jumbotron h1{
  text-align: center;
  margin-top: 100px;
  color: #fff;
}
.jumbotron p{
  text-align: center;
  color: #fff;
}
/********************************/
/*      Event section css */
/********************************/
.col-md-3 p
{
  text-align: center;
}
.event-post{
  margin-top: 20px;
}
.event-post h4{
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 10px;
}
.event-post h2{
  text-align: center;
  text-transform: uppercase;
}
.cs-info{
  margin-top: 100px;
  text-align: center;
  color: #000000;
  font-size: 16px;
}
.event-title
{
  color: #000;
  text-align:center !important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.book-event
{
    background-color: #1abc9c;
    padding: 10px 16px;
    font-size: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center !important;
    text-decoration: none;
    color: #fff;
}
.event-organizer
{
  color: #000;
  text-align: center;
}
.org-details
{
  text-align: center;
  color: #000;
}
.book-event:hover
{
background: #2e6da4;
color: #fff;
}

/********************************/
/*   Call To Action Section  */
/********************************/
.call-to-action {
  background: #2f4050;
  background-size: cover;
  padding: 40px 0;
  margin-top: 40px;
}

.call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.call-to-action .cta-text {
  color: #ffffff;
}

.call-to-action .cta-btn {
  font-family: open_sanssemibold;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  color: #000;
  background: #fff;
}
/********************************/
/*   Footer Section  */
/********************************/
.footer
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.col-md-3 h3
{
  text-align: justify;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.fotter-text{
  color: #000;
  font-size: 15px;
  text-align: justify !important;
}
.col-md-3 h5
{
  list-style: none;
  font-size: 15px;
  color: #000;
}
.col-md-3 li
{
list-style: none;
font-size: 15px;
color: #000;
}

/********************************/
/*   Copyright Footer Section  */
/********************************/
.c-footer
{
  background: #1abc9c;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}
.f-text
{
  color: #fff;
  text-transform: uppercase;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display:none;
    background: #386C69;
}
/********************************/
/*       Login section css */
/********************************/
.about
{
  margin-top: 70px;
}
.about h1
{
  text-align: center;
  text-transform: uppercase;
}
.about p
{
 text-align: center;
 color: #000000;
 font-family: sans-serif;
 margin-bottom: 20px;
 margin-top: 20px;
}
.team h2
{
color: #000;
font-size: 23px;
text-align:center;
}
.team p
{
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
/********************************/
/*   Contact-US Section  */
/********************************/
.contact-us h2
{
text-align: center;
margin-top: 110px;
margin-bottom: 30px;

text-transform: uppercase;
}
.form-control
{
  margin-top: 25px;
  width: 400px;
  text-align: center;
}
.form-area
{
  margin-bottom: 14px;
}
.button
{
margin-top: 23px;
padding-top: 10px;
padding-left: 20px;
text-align: center;
padding-bottom: 10px;
padding-right: 20px;
border-radius: 6px;
background: #1abc9c;
color: #fff;
}
.button:hover
{
  background-color: #239ec3;
  color: #fff;
  border-radius:6px;
}
/********************************/
/*   Signup-Section  */
/********************************/
.register-form h2
{
font-size: 30px;
text-align:center;
text-transform: uppercase;
}
.user-registration
{
  margin-top: 100px;
}
/********************************/
/*   login-Section  */
/********************************/
.user-login h2
{
font-size: 30px;
text-align:center;
text-transform: uppercase;
}
.user-login
{
  margin-top: 100px;
  margin-bottom: 227px;
}

.book-now
{
  margin-top: 40px;
}
.book-now h3
{
  text-align: center;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
}
.event-details
{
margin-top: 100px;
}
.booking h2
{
  text-align: center;
  }
